// Variables
$night-blue : #03224C;
$black: #3b3b3d;
$dark-blue: #1F1C2C;

.home{
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $black, #868383);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $black, #868383); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lobster', cursive;
    height: 100vh;
}
.home__img{
    height: 100vh;
}
/*.home__text{
    margin-left: 3vw;
}*/
.title{
    font-size: 2.5rem;
    padding-top: 40vh;
    color: #fff;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 3rem;
}
.home__button{
    background-color: papayawhip;
    border: 2px solid rgb(220, 20, 60);
    border-radius: 40px;
    font-size: 2rem;
    margin-top: 6vh;
    transition: 1s ease all !important;
}
.active{
        -webkit-box-shadow: 5px 10px 50px 16px rgba(220, 20, 60,1) !important;
        -moz-box-shadow: 5px 10px 50px 16px rgba(220, 20, 60,1) !important;
        box-shadow: 5px 10px 50px 16px rgba(220, 20, 60,1) !important;
        transition: 1s ease all !important;
    }



/**************************************************
********************** MENU **********************
**************************************************/

.menu__header{
    font-family: 'Lobster', cursive;
    font-size: 2.2rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 3rem;
}
.menu__body{
    color: #fff;
}
.menu__choice{
    background: radial-gradient(circle,  #615d5d, $black);
}




.border{
    border: 4px solid #ccc;
}
.banner__img{
    height: 40vh;
}
.bloc__img{
    text-align: center;
}

.bloc-choix{
    background-color: #3b3b3d;
}
.menu-icone{
    height: 7vh;
}
.thanks{
    font-size: 1rem;
    font-style: italic;
}

.footer{
    background-color: #ccc;
}
.footer__title{
    font-family: 'Lobster', cursive;
}

@media screen and (max-width: 1200px) {
    .title{
    padding-top: 20vh;
    }
  .home__img {
    display:none;
  }
  .home__text{
      margin: auto;
  }
}